<footer class="@footer">
  <div class="top">
    <div class=":container">
      <div class="line">
        <div class="logo">
          <img src="./images/logo-small.svg" alt="" />
        </div>
        <nav class="{{ SITEURL }}/menu">
          <a href="{{ SITEURL }}/#home" class="item">בית</a>
          <a href="{{ SITEURL }}/#person" class="item">לפני שמתחילים</a>
          <a href="{{ SITEURL }}/#process" class="item">המוצרים</a>
          <a href="{{ SITEURL }}/#faq" class="item">שאלות נפוצות</a>
          <a href="{{ SITEURL }}/#contacts" class="item">יצירת קשר</a>
        </nav>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class=":container">
      <div class="line">
        <nav class="icons">
          <a href="mailto:vladinagdimaev@gmail.com" class="item">
            <img src="./images/icons/email.svg" alt="" />
          </a>
          <a href="https://wa.me/972525561444" class="item">
            <img src="./images/icons/whatsapp.svg" alt="" />
          </a>
          <a href="https://www.facebook.com/vladi.nagdimaev/" target="_blank" class="item">
            <img src="./images/icons/fb.svg" alt="" />
          </a>
          <a href="tel:0525561444" class="item">
            <img src="./images/icons/phone.svg" alt="" />
          </a>
        </nav>
        <div class="copyright">
          <span>מסמכי האתר:</span>
          <a href="{{ SITEURL }}//privacy/" rel="noopener noreferrer">הצהרת פרטיות</a>
          <span aria-hidden="true"> | </span>
          <a href="{{ SITEURL }}//accessibility/" rel="noopener noreferrer">הצהרת נגישות</a>
        </div>
      </div>
      <button class="button-up" type="button" data-toTopButton>
        <img src="./images/icons/arrow-top-white.svg" alt="arrow to top" />
      </button>
    </div>
  </div>
</footer>
